        body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

        .container {
            display: flex;
            height: 100vh;
        }

        .left {
            width: 20;
        }

        img {
            max-width: 100%;
            height: auto; 
            border-radius: 12px;
            }

            @media (max-width: 600px) {
            .container {
            flex-direction: column;
            }

            .column, 
            .left-column, 
            .right-column { 
            width: 100%;
            }
            } 

        .right {
            width: 80%;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #999;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #ddd;
        }