        body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

        .container {
            display: flex;
            height: 100vh;
        }

        .left {
            width: 40%;
        }

        .right {
            width: 60%;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }

        .boxshadow {
            box-shadow: 0 4px 8px rgba(235, 47, 47, 0.1);
        }

        th, td {
            border: 1px solid #999;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #ddd;
        }